In [1]:
print("Hello\nWorld")

Hello
World

In [2]:
print("Hello\tWorld")

Hello	World

In [3]:
print("Hello\\World")

Hello\World

In [4]:
str = "Hello\"World"
print(str)

Hello"World

In [5]:
"a" in "Kamal"

True

In [6]:
"a" in "KAMAL"

False

In [7]:
"a" not in "KAMAL"

True

In [8]:
ord("b")

98

In [9]:
ord("H")

72

In [10]:
"chr('g'), Raises Error" 
chr(44)

','

In [11]:
len ("Kamal")

5

In [12]:
round(5.64)

6

In [13]:
float (7)

7.0

In [14]:
float('7')

7.0

In [15]:
float('7e1')

70.0

In [16]:
#int("k") Raises error
int(5.64)

In [18]:
#int('5.5') Raises error
int('5')

5

In [19]:
3**4

81

In [20]:
abs(-12.3)

12.3

In [21]:
bin(55)

'0b110111'

In [22]:
print (type(bin(10)))

<class 'str'>

In [23]:
cList = [4, -3.4e2, ord("A"), abs(-5)]
aList = ["Kamal", 3140, 'Python', ['TSU', 'McCord Hall', 13]]

In [24]:
cList

[4, -340.0, 65, 5]

In [25]:
print(aList)

['Kamal', 3140, 'Python', ['TSU', 'McCord Hall', 13]]

In [26]:
className = "Python Programming"
classCode = "COMP3140"
x = 5.67
y = 11

In [27]:
myList = [x, className, classCode*y, chr(y)]
myList

[5.67,
 'Python Programming',
 'COMP3140COMP3140COMP3140COMP3140COMP3140COMP3140COMP3140COMP3140COMP3140COMP3140COMP3140',
 '\x0b']

In [28]:
len(aList)

4

In [29]:
len(myList)

4

In [30]:
aList[3]

['TSU', 'McCord Hall', 13]

In [31]:
myList[3]

'\x0b'

In [32]:
cList[1:3]

[-340.0, 65]

In [33]:
aList[:3]

['Kamal', 3140, 'Python']

In [34]:
aList + cList

['Kamal', 3140, 'Python', ['TSU', 'McCord Hall', 13], 4, -340.0, 65, 5]

In [35]:
cList + aList

[4, -340.0, 65, 5, 'Kamal', 3140, 'Python', ['TSU', 'McCord Hall', 13]]

In [36]:
aList + [5,12]

['Kamal', 3140, 'Python', ['TSU', 'McCord Hall', 13], 5, 12]

In [37]:
cList[1:3] + myList[:2]

[-340.0, 65, 5.67, 'Python Programming']

In [38]:
dList = [6, 4, 9, 2]
dList[2]

9

In [39]:
dList[-1]

2

In [40]:
len(dList)

4

In [41]:
dList[:2]

[6, 4]

In [42]:
tuple(dList)

(6, 4, 9, 2)

In [43]:
dList + [2,2,2]

[6, 4, 9, 2, 2, 2, 2]

In [44]:
dList[0] += 3
dList

[9, 4, 9, 2]

In [45]:
dList[dList[3]] = dList[0]+2
dList

[9, 4, 11, 2]

In [46]:
dList[1] = -dList[1]
dList

[9, -4, 11, 2]

In [47]:
tuple("Python")

('P', 'y', 't', 'h', 'o', 'n')

In [48]:
#tuple("kk", "rr") Raises error
x,y = dList[1:3]
print(x,y)

-4 11

In [49]:
cList = [i for i in dList[:2]]
cList

[9, -4]

In [50]:
qList = [ "K", 3, 5, abs(-2), round(-3.56), int(6.99)]

In [51]:
qList

['K', 3, 5, 2, -4, 6]

In [52]:
len(qList)

6

In [54]:
qList[1] - qList[4]

7

In [55]:
qList[qList[1]]

2

In [56]:
qTuple = ('K', float(3), bin(5), 'hi')

In [57]:
qTuple

('K', 3.0, '0b101', 'hi')

In [58]:
qTuple[1]

3.0

In [59]:
len(qTuple[-1])

2

In [61]:
#qTuple[3] = 5 Raises error
phoneBook = { "Kamal":"(615) 963-5848", "Mike": "(615) 963-1542" }
gpaMap = { "Kamal":3.99, "Muna":3.25, "Sarah":3.82, "Jay":2.89 }
personalInfo = { "Name":"Kay", "Age":17, 'Gender':'Male' }
tupleDic = { (1,2):"python", (5,2,1):"programming", "comp":3140 }
emptyDict = {}

In [62]:
gpaMap['Kamal']

3.99

In [63]:
phoneBook["Mike"]

'(615) 963-1542'

In [64]:
personalInfo["Blood"] = "O+"
personalInfo

{'Name': 'Kay', 'Age': 17, 'Gender': 'Male', 'Blood': 'O+'}

In [65]:
gpaMap["Kamal"] = 3.87
gpaMap

{'Kamal': 3.87, 'Muna': 3.25, 'Sarah': 3.82, 'Jay': 2.89}

In [66]:
gpaMap.pop("Kamal")
gpaMap

{'Muna': 3.25, 'Sarah': 3.82, 'Jay': 2.89}